doctype html
html(lang=en)

	head
		meta(charset="utf-8")
		//- link(rel="stylesheet" type="text/css" href="./css/style.css")
		script(src="./js/gui.js")
		title ToDo List

	body(onload="loadStyles()")
		header
			h1.top-header TODO
			select#theme-select(onchange="changeStyle(this.value)")
				- const themeList = ["base16-dark", "base16-light", "dracula", "gruvbox-dark", "gruvbox-light", "nord", "solarized-dark", "solarized-light"];
				each theme in themeList
					option(value=theme) #{theme}

		button(type=button onclick="showTask('10-08-2018 16:57', 'Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task Task ', 1, 1)") Show Task

		button(id="btn-equalizer" type=button) 666666

		.newtask-cont(id="newtask-cont")
			form.newtask-form(id="newtask-form")
				.task-btn-cont(id="newtask-btn-cont")
					button.task-btn(id="newtask-submit-btn" type="submit") add
					select.task-color-select(id="newtask-color-select" required onchange="newTaskColorSelectOnChange(this)")
						mixin opt(color)
							option.task-color-opt(id="newtask-color-opt-"+color value=color) blue?
						- const colors = ["default", "red", "green", "yellow", "blue", "purple", "aqua"];
						each col in colors
							+opt(col)
					button.task-btn(id="newtask-hide-btn" type="button" onclick="newTaskHideBtnOnClick(this)") hide
					button.task-btn(id="newtask-new-btn" type="button" style="display: inline-block;" onclick="newTaskNewBtnOnClick(this)") new
				textarea.task-textarea(id="newtask-textarea" placeholder="Enter new task here..." required)
