doctype html
html(lang=en)

	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		//- link(rel="stylesheet" type="text/css" href="./css/style.css")
		script(src="./js/config.js")
		script(src="./js/gui.js")
		script(src="./js/client.js")
		title ToDo List

	body(onload="loadStyles(); loadTasks();")
		header
			h1 TODO
			select.theme-select#theme-select(onchange="changeStyle(this.value)")
				- const themeList = ["base16-dark", "base16-light", "dracula", "gruvbox-dark", "gruvbox-light", "nord", "solarized-dark", "solarized-light"];
				each theme in themeList
					option(value=theme) #{theme}

		button(id="btn-equalizer" type=button) 666666
		- const colors = ["default", "red", "green", "yellow", "blue", "purple", "super"];

		.task-cont(id="newtask-cont")
			form.task-form(id="newtask-form")
				select.filter-select(id="filter-color-select" onchange="filterColorSelectOnChange(this)")
					mixin filter-select-opt(color)
						option.task-color-opt(id="filter-color-opt-"+color value=color) #{color}
					option.filter-all-opt(id="filter-select-opt-all" value="all") all
					each col in colors
						+filter-select-opt(col)
				.task-btn-cont(id="newtask-btn-cont")
					button.task-btn(id="newtask-add-btn" type="button" onclick="newTaskAddBtnOnClick(this)") add
					select.task-color-select(id="newtask-color-select" onchange="newTaskColorSelectOnChange(this)")
						mixin task-select-opt(color)
							option.task-color-opt(id="newtask-color-opt-"+color value=color) #{color}
						each col in colors
							+task-select-opt(col)
					button.task-btn(id="newtask-hide-btn" type="button" onclick="newTaskHideBtnOnClick(this)") hide
					button.task-btn(id="newtask-new-btn" type="button" style="display: inline-block;" onclick="newTaskNewBtnOnClick(this)") new
				textarea.task-textarea(id="newtask-textarea" maxlength="65535" placeholder="Enter new task here...")
